/* Variables */
:root {
    --primary-color: white;
    --box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    --border-radius: 0.625rem;
    --padding: 10px;
    --text-color: #333;
    --gap: 1.6rem;
    --global-transition: all 0.1s ease-in-out;
}

/* General Styling */
* {
    font-family: 'Rubik', sans-serif;
    padding: 0;
    margin: 0;
}

*[style*="display: flex"] {
    flex-wrap: wrap;
}

body {
    /* background: linear-gradient(135deg,  #72DCFF, #6B4DFF); */
    background: linear-gradient(150deg, #72DCFF, #6B4DFF);
    display: flex;
    justify-content: center;
    font-size: 1rem; 
    background-origin: border-box;
    min-height: 100vh;
    position: relative; 

    
}

form {
    display: flex;
    gap: var(--gap);
    align-items: center; 
}

ul {
    list-style: none;
}

#task-input {
    border-radius: var(--border-radius);
    background: #FFF;
    padding: 0.5rem 5rem 0.5rem 1rem;
    border: none;
    text-align: start;
    font-size: 1.2rem;
}

button:focus, input:focus {
    outline: none;
}

#button-add {
    border: none;
    border-radius: var(--border-radius);
    background: var(--primary-color);
    font-size: 3rem;
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    color: var(--text-color);
}

button:hover,
button:active {
    opacity: 0.7;
    cursor: pointer;
}


#container {

    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px); 
    box-shadow: var(--box-shadow); 
    border: 1px solid rgba(255, 255, 255, 0.3);
    max-height: fit-content;
    margin: 10rem 5rem;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 3rem; 
}

#stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.4rem;
}

#button-hide-completed {
    border: none;
    background-color: rgba(254, 223, 122, 0.9);
    border-radius: var(--border-radius);
    padding: var(--padding);
}

.stat-description {
    border-radius: var(--border-radius);
    background: rgba(255, 255, 255, 0.6);
    width: 7.1875rem;
    height: 2.31744rem;
    padding: 7px 0 7px 7px;
}

.stat-counter {
    border-radius: var(--border-radius);
    background-color: #041E28;
    color: var(--primary-color);
    padding: 7px;
    margin-left: 5px;
}

#task-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
}

#duedate-input{
    position: absolute;
    width: 0;
    height: 0;
    border: none;
    opacity: 0;
    pointer-events: none;
}

#button-toggle-datepicker{
    padding: var(--padding);
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
}

input[type="date"]{
    border: none;
    padding: var(--padding);
    border-radius: var(--border-radius);
}

.task {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: var(--gap);
    min-width: 20rem; 
    height: 2.5rem; 
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    overflow: hidden; 
}

.task span{
    display: flex;
    flex-direction: column;
}

.completed {
    text-decoration: line-through;
    opacity: 0.4;
}

.task span {
    font-size: 1rem;
    word-wrap: break-word;
    white-space: normal; 
}

.task input {
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    border: solid 2px #333;
    cursor: pointer;
    margin-left: 1rem;
    transition: var(--global-transition);
}

.task input:hover{
    scale: 0.9;
}

.task input[type="checkbox"]:checked {
    background-color: #333;
}

.task input:active {
    transform: scale(0.8);
}


@media (max-width: 1024px) {
    body {
        font-size: 0.875rem;
    }

    #container {
        margin: 3rem 2rem;
        padding: 5rem;
    }

    #task-input {
        padding: 0.5rem 2rem 0.5rem 1rem;
    }

    #button-add {
        width: 3rem;
        height: 3rem;
        font-size: 2rem;
    }

    .task {
        height: 3rem;
        width: 100%; 
        max-width: 15rem;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 0.8rem; 
    }

    #task-input {
        padding: 0.5rem 1.5rem 0.5rem 1rem;
    }

    .task {
        height: 2.5rem;
        width: 100%;
        max-width: 14rem;
    }
}

